.options-container, .recording-container {
    text-align: center;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

h1 {
    color: white;
}

p, ol {
    color: white;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}
